*{
    margin: 0;
    padding: 0;
}

.container-principal{
    font-family: verdana;
    color: #777;
}

header{
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: relative;
    top: 0;
}

.logo{
    position: absolute;
    width: 300px;
    height: auto;
}

.logo img{
    width: 90%;
    margin-left: 10%;
}

nav{
    position: absolute;
    right: 30px;
    bottom: 0px;
}

nav ul li{
    float: left;
    color: #fff;
    width: auto;
    margin: 0.8cm;
    font-size: 1.5cm;
    font-family: verdana;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #bbb;
}

nav ul li a:hover{
    color: #b13030;
}

#banner{
    width: 100%;
}

#banner img{
    width: 100%;
    margin-bottom: 0;
}

/* definir as propriedades dos pop'ups */
.modalDialog {
    position: fixed;
    font-family: verdana;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(181, 9, 9, 0.8);
    z-index: 9999;
}


